.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
  }
  
  .page-subtitle {
    font-size: 1rem;
    color: #666; /* Adjust the color as needed */
    margin-bottom: 10px; /* Add some spacing between title and subtitle */
  }
  
  @media (min-width: 576px) {
    .page-title {
      font-size: 2rem;
    }
  }
  